@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
    <p>Cliquez <a asp-area="" asp-page="/Quizz">ici</a> pour accéder à un petit test de culture générale.</p>
</div>
